# ==========================================================
# VIVADO PROJECT - GIT IGNORE
# ==========================================================

# --- Vivado logy a žurnály (včetně těch s čísly a zálohami) ---
vivado*.log
vivado*.jou
vivado*.str
vivado*.dmp
vivado_pid*.str
vivado_pid*.zip
*.backup.jou
*.backup.log

# --- Dočasné a pracovní složky Vivada (včetně podadresářů) ---
.Xil/
.cache/
.hw/
.ip_user_files/
*/.Xil/
*/.cache/
*/.hw/
*/.ip_user_files/

# --- Výstupy implementace a simulace (ty největší balíky dat) ---
*.runs/
*.sim/
*.gen/
*/.runs/
*/.sim/
*/.gen/

# --- Binární simulační data a databáze (zastavují Push) ---
*.wdf
*.wpc
*.db
*.pb
*.wdb
*.wcfg
*.vcd

# --- Kompilační soubory simulátoru (XSIM) ---
*.mem
*.ini
*.dbg
*.reloc
*.rlx
*.tcl
*.vdb
xsim_*.c
*.prj
*.rtti
*.svtype
*.type
*.version
*.xdbg
*.exe
*.obj

# --- Skripty pro simulaci (Vivado si je vytvoří samo) ---
compile.bat
elaborate.bat
simulate.bat

# --- Ostatní systémový odpad ---
*.zip
*.tmp
.DS_Store
Thumbs.db
fade/fade.ip_user_files/README.txt
clk_en_dyn/clek_en_dyn.ip_user_files/README.txt
pwm-/dfx_runtime.txt
mood_led/mood_led.srcs/utils_1/imports/synth_1/mood_led_top.dcp
mood_led/hs_err_pid9620.log
mood_led/mood_led.hw/mood_led.lpr
mood_led/dfx_runtime.txt
